.navbar {
    height: 50px;
    border-bottom: 0.5px solid rgb(156, 156, 156);
    display: flex;
    align-items: center;
}

.wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

li {
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}



.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}